@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-12">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="baseline-conversion" class="col-sm-8 col-md-8 control-label">Конверсия до теста</label>
            <div class="input-group col-sm-4 col-md-4">
                <input type="text" class="form-control" id="baseline-conversion" value="">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <label for="minimal-detectable-effect" class="col-sm-8 control-label">На сколько минимально хотим повысить</label>
            <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="minimal-detectable-effect" value="">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <label for="minimal-detectable-effect" class="col-sm-8 control-label">Импакт</label>
            <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="impact" value="">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <label for="minimal-detectable-effect" class="col-sm-8 control-label">Кол-во тестов</label>
            <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="test-amount" value="">
                <span class="input-group-addon"></span>
            </div>
        </div>
    </form>
</div>

<div class="row" id="result-container">
    <div class="col-md-12 text-center">
        <h2>Ответ: <span class="label label-success" id="result_count">0</span></h2>
    </div>
</div>

<a type="button" href="#" class="btn btn-find btn-info px-3">Start simulation</a>

<table id="num-statistics-table" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Conversions</th>
            <th scope="col">Impact</th>
            <th scope="col">Test Passed</th>
            <th scope="col">Credibility</th>
            <th scope="col">Statistical significance(p-value)</th>
        </tr>
    </thead>
</table>

<h5>
    Total impact:
    <span id="total-impact" class="badge badge-dark"></span>
</h5>
<input type="hidden" id="calculation-url" value="@ViewData["calculation_url"]" />

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.9.5/dist/jstat.min.js"></script>
    <script src="~/js/fill-table.js"></script>
}